%p#notice= notice
%h1= @lifter.name
/ Nav tabs
%ul.nav.nav-tabs{:role => "tablist"}
  %li.active
    %a{"data-toggle" => "tab", :href => "#gear_benchpress", :role => "tab"} ベンチプレス(ギア)
  %li
    %a{"data-toggle" => "tab", :href => "#benchpress", :role => "tab"} ベンチプレス
  %li
    %a{"data-toggle" => "tab", :href => "#messages", :role => "tab"} Messages
  %li
    %a{"data-toggle" => "tab", :href => "#settings", :role => "tab"} Settings
/ Tab panes
.tab-content
  #benchpress.tab-pane
    = render 'benchpress', :bps => @bps
  #gear_benchpress.tab-pane.active 
    = render 'benchpress', :bps => @gear_bps
  #messages.tab-pane message
  #settings.tab-pane setting

= link_to 'Back', lifters_path
